MC_HOST=articraft.uz
MC_PORT=25565
MC_USERNAME=ArticraftBot
MC_VERSION=1.21.11
MC_AUTH=offline
MC_OWNER=
MC_PASSWORD=bot_uchun_parol
AUTO_LOGIN=true
AUTO_ANTIAFK=true
AUTO_RECONNECT=true
RECONNECT_DELAY_MS=5000
STOP_ON_BOT_CHECK_KICK=true
WEB_HOST=127.0.0.1
WEB_PORT=3000
VIEWER_ENABLED=true
VIEWER_PORT=3007

# Telegram Bot
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_IDS=your_chat_id_here
TELEGRAM_ENABLED=true
TELEGRAM_FORWARD_CHAT=true
